@page
@model VidroArte.Pages.Shared._LayoutModel
@{
    ViewData["Title"] = "Bem Vindo ao sistema";
}
@{
    Layout = "_Layout";
}
<head>

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700|Raleway:300,400,400i,500,500i,700,800,900" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.0/jquery.mask.js"></script>


    <link rel="stylesheet" type="text/css" href="~/css/style.css">
    <script src="~/js/mask.js"></script>
</head>
<body>

    <div class="area_cadastro">

           

    </div>
</body>
