@page
@using Microsoft.AspNetCore.Http
@using System.Data.SqlClient
@{
    ViewData["Title"] = "Inserir novo pedido";
}
@{
    Layout = "_Layout";
}
<head>

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700|Raleway:300,400,400i,500,500i,700,800,900" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="~/css/style.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>
    <script src="~/js/mask.js"></script>
    <script src="~/js/validanovopedido.js"></script>

</head>
<body>
    <form method="post">
        <div class="area_cadastro">
            <h3><span class="material-symbols-outlined">person_add</span> INSERIR NOVO PEDIDO</h3>
            <br /><br />
            <p>
                <label><i class="helper"></i>Total:</label>
                <input type="text" id="total_pedido" name="total_pedido" size="20">&emsp;
                <label><i class="helper"></i>Área:</label>
                <input type="text" id="area" name="area_total" size="20" readonly>&emsp;
                <label><i class="helper"></i>Pedido:</label>
                <input type="text" id="num_pedido" name="num_pedido" size="20" readonly>
            <p>
                <br />
            <p>
                <label><i class="helper"></i>Cliente:</label>
                <input type="text" id="cliente" name="cliente" size="50">&emsp;
                <label><i class="helper"></i>Pedido Cliente:</label>
                <input type="text" id="pedido_cliente" name="pedido_cliente" size="15">
            <p>
                <br />
            <p>
                <label><i class="helper"></i>Data Pedido:</label>
                <input type="date" id="dt_pedido" name="dt_pedido" size="15">&emsp;
                <label><i class="helper"></i>Pagamento:</label>
                <input type="date" id="dt_pagamento" name="dt_pagamento" size="15">&emsp;
                <label><i class="helper"></i>Entrega:</label>
                <input type="date" id="dt_entrega" name="dt_entrega" size="15">
            <p>
                <br />
            <p>
                <label><i class="helper"></i>Pix:</label>
                <input type="text" id="pix" name="pix" size="15">&emsp;
                <label><i class="helper"></i>Credito:</label>
                <input type="text" id="credito" name="credito" size="15" onblur="funcaocredito()">&emsp;
                <label><i class="helper"></i>Debito:</label>
                <input type="text" id="debito" name="debito" size="15" onblur="funcaodebito()">&emsp;
                <label><i class="helper"></i>Dinheiro:</label>
                <input type="text" id="dinheiro" name="dinheiro" size="15">
            <p>
                <br />
            <p>
                <label><i class="helper"></i>Comprovante:</label>
                <input type="file" id="comprovante" name="comprovante" size="2">
            </p>
            <br />
            <p>
                <label><i class="helper"></i>Observação:</label>
                <input type="text" id="obs" name="obs" size="80">&emsp;
            <p>
                <br /><br />
            <p align="center">
                <button id="salvar" name="salvar" class="btn btn-primary" asp-page-handler="salvar_pedido">  Salvar Pedido </button>
                <button id="imprimir" name="imprimir" class="btn btn-primary"> Imprimir Pedido </button>
                <button id="cancelar" name="cancelar" class="btn btn-primary" onclick="cancelar()"> Cancelar </button>

            </p><br /><br />
            <div class="container">
                <h1></h1>
                <table>
                    <thead>
                        <tr>
                            <th>Serviço</th>
                            <th>Cor</th>
                            <th>Altura</th>
                            <th>Largura</th>
                            <th>Área</th>
                            <th>Total</th>
                            <th>Entregue</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><input type="text" class="form-control" name="Serviço[]" size="23"></td>
                            <td><input type="text" class="form-control" name="cor[]" size="5"></td>
                            <td><input type="text" class="form-control" name="altura[]" size="5"></td>
                            <td><input type="text" class="form-control" name="largura[]" size="5"></td>
                            <td><input type="text" class="form-control" name="area[]" size="5" readonly></td>
                            <td><input type="text" class="form-control" name="total[]" size="10" readonly></td>
                            <td><input type="date" class="form-control" name="entregue[]" size="5"></td>
                            <td><button type="button" class="btn btn-danger btn-sm delete-row">Excluir</button></td>
                        </tr>
                    </tbody>
                </table>
                <button type="button" class="btn btn-primary btn-sm" id="incluir_item">Incluir Serviço</button>
            </div>
    </form>

</body>
