@{
    ViewData["Title"] = "Inserir novo Material";
}
@{
    Layout = "_Layout";
}
<head>

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700|Raleway:300,400,400i,500,500i,700,800,900" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.0/jquery.mask.js"></script>


    <link rel="stylesheet" type="text/css" href="~/css/style.css">

</head>
<body>

    <div class="area_cadastro">
        <form method="post" action="validacao.php">


            <h3><span class="material-symbols-outlined">forkliftadd</span>CADASTRO DE MATERIAIS</h3><br /><br />
            <br /><br />
            <input type="text" id="material" name="material" class="form-control form-control-round" placeholder="Digite o Nome do Material" size="50"><br /><br />

            <select name="Fornecedor''">
                <option value="valor1">Fornecedor 1</option>
                <option value="valor2">Fornecedor 2</option>
                <option value="valor3">Fornecedor 3</option>
            </select><br /><br />

            <input type="file" id="produto" name="produto" class="form-control form-control-round" placeholder="Imagem do Produto" size="25" maxlength="17">

        </form>

    </div>
</body>

