@{
    ViewData["Title"] = "Inserir novo Serviço";
}
<head>

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700|Raleway:300,400,400i,500,500i,700,800,900" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.0/jquery.mask.js"></script>


    <link rel="stylesheet" type="text/css" href="~/css/style.css">
    <script src="~/js/mask.js"></script>

</head>
<body>

    <div class="area_cadastro">
        <form method="post" action="validacao.php">


            <h3><span class="material-symbols-outlined">add_business</span>CADASTRO DE SERVIÇO</h3><br /><br />
            <br /><br />
            <input type="text" id="serviço" name="serviço" class="form-control form-control-round" placeholder="Digite o Serviço" size="50">

            <input type="text" id="valorservico" name="valorservico" class="form-control form-control-round" placeholder="Digite o Valor do serviço" size="25" maxlength="17">

        </form>

    </div>
</body>
